@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-color: #0080C8;
    --secundary-color: #E7E7E7;
    --dark-10: #FFFFFF;
}

.text {
    color: var(--dark-10);
    cursor: default;
}

body {
    background: url('./image/wallpaper.svg') no-repeat top center/cover;
    height: 100dvh;
    width: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
    padding: 24px 32px;
}

#header__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 144px;
}

#header-buttons__container {
    display: flex;
    gap: 40px;
}

#header-buttons__container > button {
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    padding: 14px 32px;
}

#header-buttons__container > button:nth-child(1) {
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
}

#header-buttons__container > button:nth-child(2) {
    background-color: transparent;
    border: 1.5px solid white;
    border-radius: 4px;
}

#main__container {
    display: flex;
    gap: 200px;
    flex-wrap: wrap;
    justify-content: center;
}

#trailers {
    width: 280px;
}

#trailers > h2 {
    margin-bottom: 24px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}

#trailers > div > img {
    width: 280px;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
}

#title {
    font-size: 128px;
    text-transform: uppercase;
}

#subtitle {
    font-size: 128px;
    text-transform: uppercase;

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;

    font-family: 'Arial', sans-serif;
}

#buttons__container {
    margin-top: 48px;
    display: flex;
    gap: 40px;
}

#buttons__container > button:nth-child(1) {
    background-color: var(--primary-color);
    border: none;
}

#buttons__container > button:nth-child(2) {
    background-color: transparent;
    border: 2px solid white;
}

#buttons__container > button {
    border-radius: 4px;
    padding: 16px 32px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

#background {
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.169);
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer__container {
    width: 580px;
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
}

p {
    font-weight: bold;
}

ul {
    display: flex;
    gap: 48px
}

li {
    list-style: none;
    cursor: pointer;
}

@media (min-width: 481px) and (max-width: 1125px) {

    #header__container{
        margin-bottom: 80px;
    }

    #main__container {
        gap: 20px;
    }

    #trailers {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    #trailers > div  {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        margin-bottom: 20px;
    }

    #trailers > div > img {
        flex-grow: 1;
    }

    #footer__container {
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 480px) {

    * {
        font-size: 10px;
    }

    #container {
        width: 100%;
    }

    #header__container {
        margin-bottom: 10px;
    }

    #trailers {
        display: none;
    }

    #title {
        font-size: 64px;
    }

    #subtitle {
        font-size: 64px;
    }

    #footer__container {
        width: 100%;
    }

    #footer__container p {
        display: none;
    }
    
    #header-buttons__container {
        display: none;
    }

    #buttons__container {
        flex-direction: column;
        gap: 20px
    }
}